/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes transitionButton {
    0% {
        background-color: #4285F4;
        transform: scale(1.00);
    }
    10% {
        background-color: #3F81EE;
        transform: scale(1.02);
    }
    20% {
        background-color: #3C7DE8;
        transform: scale(1.04);
    }
    30% {
        background-color: #3878E2;
        transform: scale(1.06);
    }
    40% {
        background-color: #3574DC;
        transform: scale(1.08);
    }
    50% {
        background-color: #3270D6;
        transform: scale(1.1);
    }
    60% {
        background-color: #2F6CD0;
        transform: scale(1.1);
    }
    70% {
        background-color: #2C68CA;
        transform: scale(1.1);
    }
    80% {
        background-color: #2863C4;
        transform: scale(1.1);
    }
    90% {
        background-color: #255FBE;
        transform: scale(1.1);
    }
    100% {
        background-color: #225BB8;
        transform: scale(1.1);
    }
}

@keyframes reverseTransitionButton {
    0% {
        background-color: #225BB8;
        transform: scale(1.10);
    }
    10% {
        background-color: #255FBE;
        transform: scale(1.08);
    }
    20% {
        background-color: #2863C4;
        transform: scale(1.06);
    }
    30% {
        background-color: #2C68CA;
        transform: scale(1.04);
    }
    40% {
        background-color: #2F6CD0;
        transform: scale(1.02);
    }
    50% {
        background-color: #3270D6;
        transform: scale(1.00);
    }
    60% {
        background-color: #3574DC;
    }
    70% {
        background-color: #3878E2;
    }
    80% {
        background-color: #3C7DE8;
    }
    90% {
        background-color: #3F81EE;
    }
    100% {
        background-color: #4285F4;
    }
}

@keyframes linkHoverEffect {
    0% {
        color: #0077cc;
        transform: scale(1);
        border-color: transparent;
    }
    10% {
        color: #0088cc;
        transform: scale(1.02);
        border-color: #0088cc;
    }
    20% {
        color: #0099cc;
        transform: scale(1.04);
        border-color: #0099cc;
    }
    30% {
        color: #00aacc;
        transform: scale(1.06);
        border-color: #00aacc;
    }
    40% {
        color: #00bbcc;
        transform: scale(1.08);
        border-color: #00bbcc;
    }
    50% {
        color: #00cccc;
        transform: scale(1.10);
        border-color: #00cccc;
    }
    60% {
        color: #00bbcc;
        transform: scale(1.08);
        border-color: #00bbcc;
    }
    70% {
        color: #00aacc;
        transform: scale(1.06);
        border-color: #00aacc;
    }
    80% {
        color: #0099cc;
        transform: scale(1.04);
        border-color: #0099cc;
    }
    90% {
        color: #0088cc;
        transform: scale(1.02);
        border-color: #0088cc;
    }
    100% {
        color: #0077cc;
        transform: scale(1);
        border-color: #0077cc;
    }
}

/* CSS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
    scrollbar-color: #4e54c8, #8f94fb;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 2s ease-in-out;
}

.contentContainer {
    text-align: center;
    padding: 20px;
    max-width: 1400px;
    overflow-y: auto;
    height: 80vh;
    margin: auto 0;
    scrollbar-width: thin;
    animation: slideIn 3s ease-in-out;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    opacity: 0; /* Start hidden */
    transition: opacity 1.5s ease-in-out;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    opacity: 0; /* Start hidden */
    transition: opacity 1.5s ease-in-out;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0; /* Start hidden */
    transition: opacity 1.5s ease-in-out;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    opacity: 0; /* Start hidden */
    transition: opacity 1.5s ease-in-out;
}

.in-view {
    opacity: 1;
    animation: fadeIn 1s forwards;
}

.out-of-view {
    opacity: 0;
    animation: fadeOut 2s forwards;
}


li {
    margin-left: 1.5rem;
}

button {
    background-color: #4285F4;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

button:hover {
    animation: transitionButton 1s forwards;
}

button:not(:hover) {
    animation: reverseTransitionButton 1s forwards;
}

a {
    color: #0077cc;
    text-decoration: none;
    transition: transform 0.3s ease;
}

/* Hover animation */
a:hover {
    animation: linkHoverEffect 1s forwards;
    border-bottom: 2px solid transparent;
}

a:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3 ease;
}

a:not(:hover)::after {
    width: 0;
    opacity: 0;
}