/* Main Sections */
body, html, main, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleBackground {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../Media/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: slategray;
}

.titleForeground {
    position: relative;
    z-index: 1;
    height: auto;
    max-width: 90%;
}

button {
    background-color: #4285F4;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

button:hover {
    background-color: #357AE8;
}

/* Disclaimer Page */

.titleText {
    color: wheat;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    z-index: 2;
    font-size: 30px;
}

.introText {
    color: wheat;
    max-width: 80%;
    font-size: 15px;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.introText turtleText {
    color: wheat;
    max-width: 80%;
    font-size: 15px;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .titleText {
        font-size: 24px;
    }

    .titleText.submit {
        font-size: 24px;
    }

    .introText {
        font-size: 14px;
    }

    .titleForeground {
        max-width: 100%;
    }
}

.sign-in-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.rowCount {
    color: wheat;
    font-size: 15px;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
    padding: 10px;
}

/* Submit Page */

.titleText.submit {
    color: wheat;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    z-index: 2;
    font-size: 30px;
}

.submission {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
    top: 53%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.submission label {
    display: block;
    margin-bottom: 8px;
}

.submission input,
.submission textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.submission button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submission button:hover {
    background-color: #45a049;
}

.submission-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 50;
    display: none;
}

.submission-success h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.submission-success p {
    font-size: 18px;
    margin-bottom: 20px;
}

.submission-success button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}